<div class="background">
	<a>
    <div class="content", id = "top_content">
      <h1 id = top_h1>What caLocon?</h1>
      <p>caLoconは、運動不足に伴う体重の増加、日常の摂取カロリーの目安が不透明な事が原因での体重増加や体調不良を防ぐ為、使用者に食事を管理しやすいように目標摂取カロリーの計算、体型維持やダイエットなど、同じ志を持った人同士が互いの食事の内容を把握し、シェアをしあえるアプリケーションです。</p>
			<p id = "top_p">
				caLocon is designed to prevent weight gain due to lack of exercise, and to prevent weight gain and poor physical condition caused by uncertainty about daily calorie intake. To prevent weight gain and poor physical condition caused by lack of exercise and uncertainty about daily calorie intake, caLocon provides users with a calorie target calculation system that makes it easy to manage their diet. The system calculates target calorie intake to make it easier for users to manage their diets, maintain their shape, and lose weight. This is an application that allows like-minded people to share and understand each other's diet.
			</p>
			<p>
				caLoconを利用するには下記のSTEPが必要です。
			</p>
			<p>・Signupをしてアカウントを作成します</p>
			<p>・Mypageからカロリー計算、体重記録、お気に入り投稿の確認が可能です。</p>
			<p>・画面上部の食事登録から食べ物を記録することが可能です。</p>
			<p>・画面上部のFoodsから皆さんの食事を見ることが可能です。</p>
    </div>
	<a>
</div>
