<div class="main-img">
	<img src= "./assets/sss.png", width="100%">
</div>

<div class="section">
	<div class="box-flex">
		<div class="sub-img">
			<img src= "./assets/sub.png">
		</div>
		<div class="right">
			<p class="box-flex_title">
				食事記録、体重記録、カロリー計算が全て一つに。あなたの体づくりをサポートします。
			</p>
			<p class="box-flex_content">
				私達の使命は、記録し保存するだけではありません。アップデートを繰り返し、さらなる機能を追加し、更に利用しやすくなるよう常に進み続け、皆様の健康のサポートをする事です。
			</p>
		</div>
	</div>
</div>


<div class="section">
	<div class="title_step">
		<h1><strong>caLoconを利用する、4つのフェーズ</strong></h1>
	</div>
	<div class="fe-img">
		<img src= "./assets/fe.png">
	</div>
	<div class="flex-box">
		<p class="step1">
			Signupよりアカウントを作成します。
		</p>
		<p class="step2">
			自身の基礎代謝を元に摂取カロリー計算!!
		</p>
		<p class="step3">
			体重を測定し、日々の変化を記録していきましょう!!
		</p>
		<p class="step4">
			食事の時間に写真をとり、アップロードしましょう。
		</p>
	</div>
</div>

<footer class="footer">
	<p>Copyright © 2022 kazutomo_shimizu</p>
</footer>
