<div class="mypage-img">
	<%= image_tag "wd.png" %>
</div>


<article class="panel is-success", id = "panel_id">
  <p class="panel-heading">
    体重
  </p>
  <div class = "box">
    <strong><%= @weight_history.weight %></strong>kg
  </div>
</article>

<article class="panel is-success", id = "panel_id">
  <p class="panel-heading">
    計測日時
  </p>
  <div class = "box">
    <strong><%= @weight_history.start_time.strftime("%Y-%m-%d %H:%M") %></strong>
  </div>
</article>

<footer class="footer">
	<p>Copyright © 2022 kazutomo_shimizu</p>
</footer>
