<div class="mypage-img">
	<%= image_tag "fed.png" %>
</div>

<%= render 'form', food: @food %>

<%= link_to '詳細画面', @food, class: "button is-primary"%>
<%= link_to '戻る', foods_path, class: "button is-primary" %>
