<div class="foods-img">
	<img src= "/assets/foods.png", width="20%">
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @foods.each do |food| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to food_path(food) do %>
                  <%= image_tag food.image.url if food.image.present? %>
                <% end %>
              </figure>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<footer class="footer">
	<p>Copyright © 2022 kazutomo_shimizu</p>
</footer>
