/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "simple_calendar";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.notification:not(:last-child){
	margin-bottom: 0;
}

.title{
	font-family:  'Sacramento',cursive;
}

#error_id{
  width: 50%;
  margin: auto;
	margin-top: 25px;
}

#error_id_devise{
  width: 50%;
  margin: auto;
	margin-top: 25px;
}

.mypage-img{
	width: 20%;
}

.footer{
  background-color: #EEEEEE;
  height: 30px;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #000000;
}

.footer p{
  margin: 0;
}
