// Place all the styles related to the momentum_counts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#keisan{
  margin-top: 25px;
}

#panel_id{
  margin-top: 30px;
}

.keisan-img{
  width: 25%;
}
