// Place all the styles related to the WeightHistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#submit_weight{
  margin-top: 25px;
}

#panel_id{
  width: 50%;
  margin: auto;
	margin-top: 25px;
}
